---
layout: "layout"
title: Test page
---

#  Middleman is Running

## This is a subtitle

*This is a italic text*

**This is bold text**

<h1>This is another header</h1>

Paragraph 1 .........................................

.....................................

....................................



<% 5.times do |num| %>

### **<%= num %>** times

<% end %>